{% extends "partials/dashboard-base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

    <!-- Dashboard Section start -->
    <section class="dashboard-section body-collapse">
        <div class="overlay pt-120">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="section-content">
                            <div class="acc-details">
                                <div class="top-area">
                                    <div class="left-side">
                                        <h4>Hi, {{kyc.full_name|title}}</h4>
                                        <br>
                                        <h2>${{account.account_balance|intcomma}}</h2>
                                        <h5>Available Balance</h5>
                                        {% comment %} <h5 class="receive">Last Received <span>$25,700.00</span></h5> {% endcomment %}
                                    </div>
                                    <div class="right-side">
                                        {% comment %} <div class="right-top">
                                            <select>
                                                <option value="1">US Dollar</option>
                                                <option value="2">US Dollar</option>
                                                <option value="3">US Dollar</option>
                                            </select>
                                            <div class="dropdown-area">
                                                <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <img src="{% static 'assets1/images/icon/option.png' %}" alt="icon">
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="#">Fiat Currency</a></li>
                                                    <li><a class="dropdown-item" href="#">crypto Currency</a></li>
                                                </ul>
                                            </div>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                                <div class="bottom-area">
                                    <div class="left-side">
                                        <a href="{% url "main_app:search-acct" %}" class="cmn-btn">Transfer Money</a>
                                        {% comment %} <a href="deposit-money.html" class="cmn-btn">Add Money</a>
                                        <a href="withdraw-money-step-1.html" class="cmn-btn">Withdraw</a> {% endcomment %}
                                    </div>
                                    {% comment %} <div class="right-side">
                                        <div class="dropdown-area">
                                            <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="{% static 'assets1/images/icon/option.png' %}" alt="icon">
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="recipients.html">Recipients</a></li>
                                                <li><a class="dropdown-item" href="receive-step-1.html">Request Money</a></li>
                                                <li><a class="dropdown-item" href="pay-step-1.html">Send Money</a></li>
                                                <li><a class="dropdown-item" href="pay-step-1.html">Bill Pay</a></li>
                                            </ul>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            {% comment %} <div class="transactions-area mt-40">
                                <div class="section-text">
                                    <h5>Transactions</h5>
                                    <p>Updated every several minutes</p>
                                </div>
                                <div class="top-area d-flex align-items-center justify-content-between">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="latest-tab" data-bs-toggle="tab" data-bs-target="#latest" type="button" role="tab" aria-controls="latest" aria-selected="true">Latest</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming</button>
                                        </li>
                                    </ul>
                                    <div class="view-all d-flex align-items-center">
                                        <a href="javascript:void(0)">View All</a>
                                        <img src="{% static 'assets1/images/icon/right-arrow.png' %}" alt="icon">
                                    </div>
                                </div>
                                <div class="tab-content mt-40">
                                    <div class="tab-pane fade show active" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name/ Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Bangkok Bank</p>
                                                            <p class="mdr">Withdraw to bank account</p>
                                                        </th>
                                                        <td>
                                                            <p>03:00 PM</p>
                                                            <p class="mdr">10 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="inprogress">In Progress</p>
                                                        </td>
                                                        <td>
                                                            <p>-$520</p>
                                                            <p class="mdr">$3.0</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Envato Pty Ltd</p>
                                                            <p class="mdr">Marketplace Payment Received</p>
                                                        </th>
                                                        <td>
                                                            <p>04:30 PM</p>
                                                            <p class="mdr">01 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="completed">Completed</p>
                                                        </td>
                                                        <td>
                                                            <p>+$450</p>
                                                            <p class="mdr">No Fees</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Mailchimp</p>
                                                            <p class="mdr">Subscription Service Payment</p>
                                                        </th>
                                                        <td>
                                                            <p>01:15 PM</p>
                                                            <p class="mdr">25 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="completed">Completed</p>
                                                        </td>
                                                        <td>
                                                            <p>-$100</p>
                                                            <p class="mdr">No Fees</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Facebook Ads</p>
                                                            <p class="mdr">Ads Service</p>
                                                        </th>
                                                        <td>
                                                            <p>07:05 PM</p>
                                                            <p class="mdr">15 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="pending">Pending</p>
                                                        </td>
                                                        <td>
                                                            <p>$200</p>
                                                            <p class="mdr">No Fees</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Upwork Escow Inc</p>
                                                            <p class="mdr">Payment payment</p>
                                                        </th>
                                                        <td>
                                                            <p>04:02 PM</p>
                                                            <p class="mdr">10 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="completed">Completed</p>
                                                        </td>
                                                        <td>
                                                            <p>$450</p>
                                                            <p class="mdr">$.5</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Ron Stewart</p>
                                                            <p class="mdr">Payment Refund</p>
                                                        </th>
                                                        <td>
                                                            <p>11:00 PM</p>
                                                            <p class="mdr">21 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="cancelled">Cancelled</p>
                                                        </td>
                                                        <td>
                                                            <p>+$450</p>
                                                            <p class="mdr">No Fees</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name/ Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Bangkok Bank</p>
                                                            <p class="mdr">Withdraw to bank account</p>
                                                        </th>
                                                        <td>
                                                            <p>03:00 PM</p>
                                                            <p class="mdr">10 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="inprogress">In Progress</p>
                                                        </td>
                                                        <td>
                                                            <p>-$520</p>
                                                            <p class="mdr">$3.0</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Envato Pty Ltd</p>
                                                            <p class="mdr">Marketplace Payment Received</p>
                                                        </th>
                                                        <td>
                                                            <p>04:30 PM</p>
                                                            <p class="mdr">01 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="completed">Completed</p>
                                                        </td>
                                                        <td>
                                                            <p>+$450</p>
                                                            <p class="mdr">No Fees</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Mailchimp</p>
                                                            <p class="mdr">Subscription Service Payment</p>
                                                        </th>
                                                        <td>
                                                            <p>01:15 PM</p>
                                                            <p class="mdr">25 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="completed">Completed</p>
                                                        </td>
                                                        <td>
                                                            <p>-$100</p>
                                                            <p class="mdr">No Fees</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Facebook Ads</p>
                                                            <p class="mdr">Ads Service</p>
                                                        </th>
                                                        <td>
                                                            <p>07:05 PM</p>
                                                            <p class="mdr">15 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="pending">Pending</p>
                                                        </td>
                                                        <td>
                                                            <p>$200</p>
                                                            <p class="mdr">No Fees</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Upwork Escow Inc</p>
                                                            <p class="mdr">Payment payment</p>
                                                        </th>
                                                        <td>
                                                            <p>04:02 PM</p>
                                                            <p class="mdr">10 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="completed">Completed</p>
                                                        </td>
                                                        <td>
                                                            <p>$450</p>
                                                            <p class="mdr">$.5</p>
                                                        </td>
                                                    </tr>
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>Ron Stewart</p>
                                                            <p class="mdr">Payment Refund</p>
                                                        </th>
                                                        <td>
                                                            <p>11:00 PM</p>
                                                            <p class="mdr">21 Mar 2022</p>
                                                        </td>
                                                        <td>
                                                            <p class="cancelled">Cancelled</p>
                                                        </td>
                                                        <td>
                                                            <p>+$450</p>
                                                            <p class="mdr">No Fees</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="side-items">
                            <div class="single-item">
                                <div class="section-text d-flex align-items-center justify-content-between">
                                    <h6>Linked Payment System</h6>
                                    <div class="right-side">
                                        <div class="dropdown-area">
                                            <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="{% static 'assets1/images/icon/option.png' %}" alt="icon">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    {% for c in credit_card %}
                                        <a href="{% url "main_app:card-detail" c.card_id %}">
                                            <div class="col-12">
                                                <div class="card__main">
                                                    <div class="{% if c.card_type == 'Discover' %}Front_card{% endif %} {% if c.card_type == 'American Express' %}Front_card{% endif %}    {% if c.card_type == 'Mastercard' %}masterCard{% endif %}    {% if c.card_type == 'Visa' %}visaCard{% endif %}">
                                                    <div class="top_card">
                                                        <span class="visa">{{c.card_type|upper}}</span>
                                                        {% comment %} <div class="logo">
                                                            <img src="{% static 'assets1/images/logo.png' %}" class="logo" alt="logo">

                                                        </div> {% endcomment %}
                                                    </div>
                                                    <div class="middle_card">
                                                        <span class="chip"></span>
                                                        <div class="card_number">{{c.card_number}}</div>
                                                    </div><br>
                                                    <div class="bottom_card">
                                                        <div class="card_info">
                                                        <div class="card_holder_name">${{c.amount|intcomma}}</div>
                                                        <div class="card_holder_name">{{c.name}}</div>
                                                        </div>
                                                        <div class="card_info">
                                                        <div class="card_holder_info">
                                                            <span class="expire_month" >{{c.month}}</span>
                                                            <span class="slash">/</span>
                                                            <span class="expire_year">{{c.year}}</span>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="back_card">
                                                    <div class="top_card">
                                                        <span class="black_strip"></span>
                                                        <div class="cvc_strip">
                                                        <span class="cvc_number">{{c.cvv}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="bottom_card">
                                                        <div class="flex">
                                                        <span class="sticker"></span>
                                                        <div class="logo1">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                    
                                    <div class="col-6">
                                        <div class="single-card">
                                            <button type="button" class="reg w-100" data-bs-toggle="modal" data-bs-target="#addcardMod">
                                                <img src="{% static 'assets1/images/add-new.png' %}" alt="image" class="w-100">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="single-item">
                                <div class="section-text d-flex align-items-center justify-content-between">
                                    <h6>Payment Analytics</h6>
                                    <div class="select-box">
                                        <select>
                                            <option>Monthly</option>
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="chart"></div>
                            </div>
                            <div class="single-item">
                                <div class="section-text d-flex align-items-center justify-content-between">
                                    <h6>Recipients</h6>
                                    <div class="view-all d-flex align-items-center">
                                        <a href="javascript:void(0)">View All</a>
                                        <img src="{% static 'assets1/images/icon/right-arrow.png' %}" alt="icon">
                                    </div>
                                </div>
                                <ul class="recipients-item">
                                    <li>
                                        <p class="left d-flex align-items-center">
                                            <img src="{% static 'assets1/images/recipients-1.png' %}" alt="icon">
                                            <span class="info">
                                                <span>Phil King</span>
                                            <span>08:00 AM — 19 August</span>
                                            </span>
                                        </p>
                                        <p class="right">
                                            <span> +$345</span>
                                            <span>Payment</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="left d-flex align-items-center">
                                            <img src="{% static 'assets1/images/recipients-2.png' %}" alt="icon">
                                            <span class="info">
                                                <span>Debra Wilson</span>
                                            <span>08:00 AM — 19 August</span>
                                            </span>
                                        </p>
                                        <p class="right">
                                            <span class="loss">-$850</span>
                                            <span>Refund</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="left d-flex align-items-center">
                                            <img src="{% static 'assets1/images/recipients-3.png' %}" alt="icon">
                                            <span class="info">
                                                <span>Philip Henry</span>
                                            <span>08:00 AM — 19 August</span>
                                            </span>
                                        </p>
                                        <p class="right">
                                            <span>+$2.050</span>
                                            <span>Payment</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="left d-flex align-items-center">
                                            <img src="{% static 'assets1/images/recipients-4.png' %}" alt="icon">
                                            <span class="info">
                                                <span>Erin Garcia</span>
                                            <span>08:00 AM — 19 August</span>
                                            </span>
                                        </p>
                                        <p class="right">
                                            <span> +$900</span>
                                            <span>Payment</span>
                                        </p>
                                    </li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Section end -->

    <!-- Card Popup start -->
    <div class="card-popup">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="modal fade" id="cardMod" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                </div>
                                <div class="main-content">
                                    <div class="top-area mb-40 mt-40 text-center">
                                        <div class="card-area mb-30">
                                            <img src="{% static 'assets1/images/visa-card-2.png' %}" alt="image">
                                        </div>
                                        <div class="text-area">
                                            <h5>MoneySpread Payment Card </h5>
                                            <p>Linked: 01 Jun 2021</p>
                                        </div>
                                    </div>
                                    <div class="tab-area d-flex align-items-center justify-content-between">
                                        <ul class="nav nav-tabs mb-30" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="btn-link" id="cancel-tab" data-bs-toggle="tab" data-bs-target="#cancel" type="button" role="tab" aria-controls="cancel" aria-selected="false">
                                                    <img src="{% static 'assets1/images/icon/limit.png' %}" alt="icon">
                                                    Set transfer limit
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="d-none" id="limit-tab" data-bs-toggle="tab" data-bs-target="#limit" type="button" role="tab" aria-controls="limit" aria-selected="true"></button>
                                            </li>
                                            <li>
                                                <button>
                                                    <img src="{% static 'assets1/images/icon/remove.png' %}" alt="icon">
                                                    Remove from Linked
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content mt-30">
                                        <div class="tab-pane fade show active" id="limit" role="tabpanel" aria-labelledby="limit-tab">
                                            <div class="bottom-area">
                                                <p class="history">Transaction History : <span>20</span></p>
                                                <ul>
                                                    <li>
                                                        <p class="left">
                                                            <span>03:00 PM</span>
                                                            <span>17 Oct, 2020</span>
                                                        </p>
                                                        <p class="right">
                                                            <span>$160.48</span>
                                                            <span>Withdraw</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="left">
                                                            <span>01:09 PM</span>
                                                            <span>15 Oct, 2021</span>
                                                        </p>
                                                        <p class="right">
                                                            <span>$106.58</span>
                                                            <span>Withdraw</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="left">
                                                            <span>04:00 PM</span>
                                                            <span>12 Oct, 2020</span>
                                                        </p>
                                                        <p class="right">
                                                            <span>$176.58</span>
                                                            <span>Withdraw</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="left">
                                                            <span>06:00 PM</span>
                                                            <span>25 Oct, 2020</span>
                                                        </p>
                                                        <p class="right">
                                                            <span>$167.85</span>
                                                            <span>Withdraw</span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="cancel" role="tabpanel" aria-labelledby="cancel-tab">
                                            <div class="main-area">
                                                <div class="transfer-area">
                                                    <p>Set a transfer limit for your MoneySpread Card</p>
                                                    <p class="mdr">Transfer Limit</p>
                                                </div>
                                                <form action="#">
                                                    <div class="input-area">
                                                        <input class="xxlr" placeholder="400.00" type="number">
                                                        <select>
                                                            <option value="1">USD</option>
                                                            <option value="2">USD</option>
                                                            <option value="3">USD</option>
                                                        </select>
                                                    </div>
                                                    <div class="bottom-area d-flex align-items-center justify-content-between">
                                                        <a href="javascript:void(0)" class="cmn-btn cancel">Cancel and
                                                            Back</a>
                                                        <a href="javascript:void(0)" class="cmn-btn">Confirm Transfer
                                                            Limit</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card Popup start -->

    <!-- Add Card Popup start -->
    <div class="add-card">
        <div class="container-fluid">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>{{form.errors}}</strong>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="modal fade" id="addcardMod" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header justify-content-between">
                                    <h6>Add Card</h6>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row justify-content-center">
                                        <div class="col-md-12">
                                            <div class="single-input">
                                                <label for="cardNumber">Card Name</label>
                                                {{form.name}}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-input">
                                                <label for="cardNumber">Card Number</label>
                                                {{form.card_number}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-input">
                                                <label for="cardNumber">Exp Month</label>
                                                {{form.month}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-input">
                                                <label for="cardNumber">Exp Year</label>
                                                {{form.year}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-input">
                                                <label for="cardNumber">CVV</label>
                                                {{form.cvv}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-input">
                                                <label for="cardNumber">Card Type</label>
                                                {{form.card_type}}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="btn-border w-100">
                                                <button type="submit" class="cmn-btn w-100">Add Card</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Card Popup start -->

    <!-- Transactions Popup start -->
    {% comment %} <div class="transactions-popup">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="modal fade" id="transactionsMod" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header justify-content-between">
                                    <h5>Transaction Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                </div>
                                <div class="main-content">
                                    <div class="row">
                                        <div class="col-sm-5 text-center">
                                            <div class="icon-area">
                                                <img src="{% static 'assets1/images/icon/transaction-details-icon.png' %}" alt="icon">
                                            </div>
                                            <div class="text-area">
                                                <h6>Envato Pty Ltd</h6>
                                                <p>16 Jan 2022</p>
                                                <h3>717.14 USD</h3>
                                                <p class="com">Completed</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="right-area">
                                                <h6>Transaction Details</h6>
                                                <ul class="payment-details">
                                                    <li>
                                                        <span>Payment Amount</span>
                                                        <span>718.64 USD</span>
                                                    </li>
                                                    <li>
                                                        <span>Fee</span>
                                                        <span>1.50 USD</span>
                                                    </li>
                                                    <li>
                                                        <span>Total Amount</span>
                                                        <span>717.14 USD</span>
                                                    </li>
                                                </ul>
                                                <ul class="payment-info">
                                                    <li>
                                                        <p>Payment From</p>
                                                        <span class="mdr">Envato Pty Ltd</span>
                                                    </li>
                                                    <li>
                                                        <p>Payment Description</p>
                                                        <span class="mdr">Envato Feb 2022 Member Payment</span>
                                                    </li>
                                                    <li>
                                                        <p>Transaction ID:</p>
                                                        <span class="mdr">6559595979565959895559595</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Transactions Popup start -->

{% endblock content %}