{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MoneySpread - Money Transfer and Online Payments</title>

    {% comment %} <link rel="shortcut icon" href="{% static 'assets1/images/fav.png' %}" type="image/x-icon"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/apexcharts.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/arafat-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/style.css' %}">
</head>

<body>
    <!-- start preloader -->
    {% comment %} <div class="preloader" id="preloader"></div> {% endcomment %}
    <!-- end preloader -->

    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- header-section start -->
    <header class="header-section body-collapse">
        <div class="overlay">
            <div class="container-fluid">
                <div class="row d-flex header-area">
                    <div class="navbar-area d-flex align-items-center justify-content-between">
                        <div class="sidebar-icon">
                            <img src="{% static 'assets1/images/icon/menu.png' %}" alt="icon">
                        </div>
                        {% comment %} <form method="POST" class="flex-fill">
                            <div class="form-group d-flex align-items-center">
                                <img src="{% static 'assets1/images/icon/search.png' %}" alt="icon">
                                <input type="text" placeholder="Type to search...">
                            </div>
                        </form> {% endcomment %}
                        <div class="dashboard-nav">
                            {% comment %} <div class="single-item language-area">
                                <div class="language-btn">
                                    <img src="{% static 'assets1/images/icon/lang.png' %}" alt="icon">
                                </div>
                                <ul class="main-area language-content">
                                    <li>English</li>
                                    <li>Hindi</li>
                                    <li class="active">English (US)</li>
                                    <li>Japanese</li>
                                    <li>Kannada</li>
                                    <li>Lithuanian</li>
                                </ul>
                            </div> {% endcomment %}
                            {% comment %} <div class="single-item notifications-area">
                                <div class="notifications-btn">
                                    <img src="{% static 'assets1/images/icon/bell.png' %}" class="bell-icon" alt="icon">
                                </div>
                                <div class="main-area notifications-content">
                                    <div class="head-area d-flex justify-content-between">
                                        <h5>Notifications</h5>
                                        <span class="mdr">4</span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex">
                                                <div class="img-area">
                                                    <img src="{% static 'assets1/images/user-1.png' %}" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <p class="mdr">You received a payment of <b>$134.00</b> from <b>Anna
                                                            Green</b></p>
                                                    <p class="mdr time-area">09.39AM</p>
                                                </div>
                                            </a>
                                            <i class="fa-solid fa-caret-right"></i>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex">
                                                <div class="img-area">
                                                    <img src="{% static 'assets1/images/user-2.png' %}" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <p class="mdr"><b>James Deed</b> requested a payment of
                                                        <b>£890.00</b>
                                                    </p>
                                                    <p class="mdr time-area">08.09AM</p>
                                                </div>
                                            </a>
                                            <i class="fa-solid fa-caret-right"></i>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex">
                                                <div class="img-area">
                                                    <img src="{% static 'assets1/images/master-card.png' %}" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <p class="mdr">Your new payment method has beed added successfully
                                                    </p>
                                                    <p class="mdr time-area">09.39AM</p>
                                                </div>
                                            </a>
                                            <i class="fa-solid fa-caret-right"></i>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex">
                                                <div class="img-area">
                                                    <img src="{% static 'assets1/images/user-3.png' %}" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <p class="mdr">You received a payment of <b>$250.00</b> from Goerge Michael
                                                    </p>
                                                    <p class="mdr time-area">Yesterday</p>
                                                </div>
                                            </a>
                                            <i class="fa-solid fa-caret-right"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div> {% endcomment %}
                            <div class="single-item user-area">
                                <div class="profile-area d-flex align-items-center">
                                    <span class="user-profile">
                                        <img style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover" src="{{ user.kyc.image.url }}" alt="User">
                                    </span>
                                </div>
                                <div class="main-area user-content">
                                    <div class="head-area d-flex align-items-center">
                                        <div class="profile-img">
                                            <img style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover" src="{{ user.kyc.image.url }}" alt="User">
                                        </div>
                                        <div class="profile-head">
                                            <a href="{% url "account:account" %}">
                                                <h5>{{user.kyc.full_name|title}}</h5>
                                            </a>
                                            <p class="wallet-id"><small>Account No: {{user.account.account_number}}</small></p>
                                            <p class="wallet-id"><small>Pin No: {{user.account.pin_number}}</small></p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li class="border-area">
                                            <a href="/admin" target="_blank">Admin</a>
                                        </li>
                                        <li class="border-area">
                                            <a href="{% url "account:account" %}">Account Settings</a>
                                        </li>
                                        <li>
                                            <a href="{% url "userauths:sign-out" %}">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-wrapper">
                        <div class="close-btn">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="sidebar-logo">
                            <a href=""><img src="{% static 'assets1/images/logo.png' %}" alt="logo" style="height: 50px; border-radius: 50%"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="{% url "account:dashboard" %}">
                                    <img src="{% static 'assets1/images/icon/dashboard.png' %}" alt="Dashboard"> <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "main_app:transactions" %}">
                                    <img src="{% static 'assets1/images/icon/transactions.png' %}" alt="Transactions"> <span>Transactions</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "main_app:search-acct" %}">
                                    <img src="{% static 'assets1/images/icon/pay.png' %}" alt="Pay"> <span>Make Payment</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url "main_app:request-search-acct" %}">
                                    <img src="{% static 'assets1/images/icon/receive.png' %}" alt="Receive"> <span>Request Payment</span>
                                </a>
                            </li>
                            {% comment %} <li>
                                <a href="money-exchange.html">
                                    <img src="{% static 'assets1/images/icon/exchange.png' %}" alt="Exchange"> <span>Exchange</span>
                                </a>
                            </li>
                            <li>
                                <a href="recipients.html">
                                    <img src="{% static 'assets1/images/icon/recipients.png' %}" alt="Recipients"> <span>Recipients</span>
                                </a>
                            </li>
                            <li>
                                <a href="crypto.html">
                                    <img src="{% static 'assets1/images/icon/crypto.png' %}" alt="Crypto"> <span>Crypto</span>
                                </a>
                            </li> {% endcomment %}
                            <li>
                                <a href="{% url "main_app:deposit-money" account.account_number %}">
                                    <img src="{% static 'assets1/images/icon/deposit.png' %}" alt="Deposit"> <span>Deposit Money</span>
                                </a>
                            </li>
                            {% comment %} <li>
                                <a href="withdraw-money-step-1.html">
                                    <img src="{% static 'assets1/images/icon/withdraw.png' %}" alt="Withdraw"> <span>Withdraw Money</span>
                                </a>
                            </li> {% endcomment %}
                        </ul>
                        <ul class="bottom-item">
                            <li class="active">
                                <a href="{% url "account:account" %}">
                                    <img src="{% static 'assets1/images/icon/account.png' %}" alt="Account"> <span>Account</span>
                                </a>
                            </li>
                            {% comment %} <li>
                                <a href="javascript:void(0)">
                                    <img src="{% static 'assets1/images/icon/support.png' %}" alt="Support"> <span>Support</span>
                                </a>
                            </li> {% endcomment %}
                            <li>
                                <a href="{% url "userauths:sign-out" %}">
                                    <img src="{% static 'assets1/images/icon/quit.png' %}" alt="Quit"> <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                        {% comment %} <div class="pt-120">
                            <div class="invite-now">
                                <div class="img-area">
                                    <img src="{% static 'assets1/images/invite-now-illus.png' %}" alt="Image">
                                </div>
                                <p>Invite your friend and get $25</p>
                                <a href="javascript:void(0)" class="cmn-btn">Invite Now</a>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
            <!-- alert start -->
            {% if messages %}
                {% for m in messages %}
                    <div class="alert alert-{{m.tags}}">
                        <strong>{{ m }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- alert end -->
    </header>
    <!-- header-section end -->

{% block content %}

{% endblock content %}


        <!--==================================================================-->
        <script src="{% static 'assets1/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets1/js/jquery-ui.js' %}"></script>
        <script src="{% static 'assets1/js/plugin/apexcharts.js' %}"></script>
        <script src="{% static 'assets1/js/plugin/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'assets1/js/plugin/waypoint.min.js' %}"></script>
        <script src="{% static 'assets1/js/plugin/wow.min.js' %}"></script>
        <script src="{% static 'assets1/js/plugin/plugin.js' %}"></script>
        <script src="{% static 'assets1/js/main.js' %}"></script>
    </body>
    
</html>