// Home Page Start
.header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 140px;
    width: calc(100% - 140px);
    z-index: 999;
    background-color: var(--bs-white);
    border-bottom: 1px solid #6c6ea6;
    transition: all 0.8s;
    &.header-fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
        background-color: var(--bs-white);
        border-color: transparent;
    }
    .navbar-toggler {
        padding-right: 0;
        display: none;
        border: none;
        &:focus {
            box-shadow: none;
        }
        i {
            color: var(--head-alt-color);
        }
    }
    .navbar-area {
        padding: 10px 40px;
        .sidebar-icon{
            margin-right: 100px;
            cursor: pointer;
        }
        form {
            .form-group {
                padding: 0 12px;
                background: #f9f9f9;
                border: 1px solid #d0d3e8;
                border-radius: 10px;
                input {
                    background-color: transparent;
                    border: none;
                    padding-left: 10px;
                }
            }
        }
        .dashboard-nav {
            display: flex;
            align-items: center;
            gap: 30px;
            position: relative;
            margin-left: 100px;
            .single-item {
                cursor: pointer;
                .profile-area{
                    i{
                        margin-left: 5px;
                    }
                }
                .main-area {
                    position: absolute;
                    top: 50px;
                    width: 360px;
                    right: 0;
                    padding: 30px;
                    background: var(--bs-white);
                    box-shadow: 0px 20px 50px rgba(44, 63, 88, 0.15);
                    border-radius: 20px;
                    border-radius: 20px;
                    transform: translateY(150px);
                    opacity: 0;
                    transition: 0.3s;
                    visibility: hidden;
                    &.active {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0px);
                    }
                    ul{
                        li{
                            margin-top: 15px;
                            i{
                                margin-right: 10px;
                            }
                            a{
                                width: 100%;
                            }
                        }
                    }
                }
                .user-content{
                    .head-area{
                        background: #F8F8FF;
                        border-radius: 20px;
                        padding: 15px;
                        .profile-img{
                            margin-right: 20px;
                        }
                    }
                }
                &.notifications-area{
                    .notifications-btn{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            background-color: #ED815B;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            top: 6px;
                            right: 0;
                        }
                    }
                    .head-area{
                        span{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 16px;
                            height: 16px;
                            color: var(--bs-white);
                            background: #902520;
                            border-radius: 6px;
                        }
                    }
                    ul{
                        li{
                            border-radius: 10px;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            &:hover{
                                background: #F8F8FF;
                            }
                            a{
                                width: 95%;
                            }
                            .img-area{
                                margin-right: 10px;
                            }
                            .time-area{
                                margin-top: 5px;
                            }
                            i{
                                color: #A5A5A5;
                                margin-right: 0;
                            }
                        }
                    }
                }
                &.language-area{
                    .language-content{
                        max-height: 250px;
                        overflow-y: scroll;
                        li{
                            font-size: 14px;
                            padding: 5px 10px;
                            transition: 0.3s;
                            &:hover, &.active{
                                background-color: #6C3AFF;
                                color: var(--bs-white);
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-wrapper{
        position: absolute;
        top: 0;
        width: 150px;
        left: -220px;
        padding: 20px;
        background: var(--bs-white);
        box-shadow: 0px 20px 50px rgba(44, 63, 88, 0.15);
        transform: translateX(150px);
        transition: 0.3s;
        height: 100vh;
        overflow-y: scroll;
        &.active {
            opacity: 1;
            left: -140px;
            visibility: visible;
            transform: translateX(0px);
        }
        &::-webkit-scrollbar {
            width: 0;
        }
        .close-btn{
            display: none;
            cursor: pointer;
            i{
                position: absolute;
                right: 10px;
                top: 10px;
                color: #4341cc;
                font-size: 24px;
            }
        }
        .sidebar-logo{
            margin-bottom: 20px;
        }
        ul{
            li{
                border-radius: 20px;
                padding: 15px 10px;
                transition: 0.3s;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                span{
                    display: none;
                }
                &:hover, &.active{
                    background: #F6F5FF;
                }
                img{
                    margin-right: 0;
                    width: 35%;
                }
            }
        }
        .bottom-item{
            border-top: 1px solid #E4E2EE;
            margin-top: 10px;
            padding-top: 10px;
        }
        .invite-now{
            border: 1px solid #E4E2EE;
            padding: 20px;
            background: var(--bs-white);
            border: 1px solid #DFDFDF;
            border-radius: 20px;
            text-align: center;
            display: none;
            p{
                margin: 15px 0 25px;
            }
            .cmn-btn{
                border-radius: 25px;
                width: 100%;
            }
        }
    }
    &.body-collapse{
        margin-left: 270px;
        width: calc(100% - 270px);
        .sidebar-wrapper{
            width: 270px;
            left: -420px;
            ul{
                li{
                    span{
                        display: block;
                    }
                    img{
                        width: auto;
                        margin-right: 10px;
                    }
                    a{
                        justify-content: start;
                    }
                }
            }
            .invite-now{
                display: block;
            }
        }
    }
}