{% extends "partials/dashboard-base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

    <!-- Dashboard Section start -->
    <section class="dashboard-section body-collapse">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="section-content">
                            <div class="transactions-area">
                                <div class="section-text">
                                    <h5>Transactions</h5>
                                    <p>Updated every several minutes</p>
                                </div>
                                <div class="top-area d-flex align-items-center justify-content-between">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="latest-tab" data-bs-toggle="tab" data-bs-target="#latest" type="button" role="tab" aria-controls="latest" aria-selected="true">Sent</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Received</button>
                                        </li>
                                    </ul>
                                    <div class="view-all d-flex align-items-center">
                                        <a href="javascript:void(0)">View All</a>
                                        <img src="{% static 'assets1/images/icon/right-arrow.png' %}" alt="icon">
                                    </div>
                                </div>
                                <div class="tab-content mt-40">
                                    <div class="tab-pane fade show active" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name / Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for s in sender_transaction %}
                                                        <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                            <th scope="row">
                                                                <p>{{s.recipient.kyc.full_name|title}}</p>
                                                                <p class="mdr">{{s.transaction_type|title}}</p>
                                                            </th>
                                                            <td>
                                                                <p><small>{{s.date|date:"h:i"}}</small></p>
                                                                <p class="mdr">{{s.date|date:"d M, Y"}}</p>
                                                            </td>
                                                            <td>
                                                                {% if s.status == 'Completed' %}
                                                                    <p class="text-success">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Pending' %}
                                                                    <p class="inprogress">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Failed' %}
                                                                    <p class="text-danger">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Processing' %}
                                                                    <p class="inprogress">{{s.status|title}}</p>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <p>-${{s.amount|intcomma}}</p>
                                                            </td>
                                                            <td>
                                                                <a href="" class=""><i class="fa-eye"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name / Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for r in recipient_transaction %}
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>{{r.sender.kyc.full_name|title}}</p>
                                                            <p class="mdr">{{r.transaction_type|title}}</p>
                                                        </th>
                                                        <td>
                                                            <p><small>{{r.date|date:"h:i"}}</small></p>
                                                            <p class="mdr">{{r.date|date:"d M, Y"}}</p>
                                                        </td>
                                                        <td>
                                                            {% if r.status == 'Completed' %}
                                                                <p class="text-success">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Pending' %}
                                                                <p class="inprogress">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Failed' %}
                                                                <p class="text-danger">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Processing' %}
                                                                <p class="inprogress">{{r.status|title}}</p>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <p>+${{r.amount|intcomma}}</p>
                                                        </td>
                                                        <td>
                                                            <a href="" class=""><i class="fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}