{% extends "partials/dashboard-base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

    <!-- Dashboard Section start -->
    <section class="dashboard-section body-collapse">
        <div class="overlay pt-120">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="section-content">
                            <div class="transactions-area">
                                <div class="section-text">
                                    <h5>Transactions</h5>
                                    <p>Updated every several minutes</p>
                                </div>
                                <div class="top-area d-flex align-items-center justify-content-between">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="latest-tab" data-bs-toggle="tab" data-bs-target="#latest" type="button" role="tab" aria-controls="latest" aria-selected="true">Sent Transfers</button>
                                        </li> | &nbsp;
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Received Transfers</button>
                                        </li> | &nbsp;
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="sender-request-tab" data-bs-toggle="tab" data-bs-target="#sender-request" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Sent Requests</button>
                                        </li> | &nbsp;
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="recipient-request-tab" data-bs-toggle="tab" data-bs-target="#recipient-request" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Received Requests</button>
                                        </li> | &nbsp;
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="deposit-tab" data-bs-toggle="tab" data-bs-target="#deposit-request" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Deposits</button>
                                        </li>
                                    </ul>
                                    {% comment %} <div class="view-all d-flex align-items-center">
                                        <a href="javascript:void(0)">View All</a>
                                        <img src="{% static 'assets1/images/icon/right-arrow.png' %}" alt="icon">
                                    </div> {% endcomment %}
                                </div>
                                <div class="tab-content mt-40">
                                    <div class="tab-pane fade show active" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name / Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for s in sender_transaction %}
                                                        <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                            <th scope="row">
                                                                <p>{{s.recipient.kyc.full_name|title}}</p>
                                                                <p class="mdr">{{s.transaction_type|title}}</p>
                                                            </th>
                                                            <td>
                                                                <p><small>{{s.date|date:"h:i"}}</small></p>
                                                                <p class="mdr">{{s.date|date:"d M, Y"}}</p>
                                                            </td>
                                                            <td>
                                                                {% if s.status == 'Completed' %}
                                                                    <p class="text-success">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Pending' %}
                                                                    <p class="inprogress">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Failed' %}
                                                                    <p class="text-danger">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Processing' %}
                                                                    <p class="inprogress">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Request Sent' %}
                                                                    <p class="text-success">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Request Settled' %}
                                                                    <p class="text-success">{{s.status|title}}</p>
                                                                {% endif %}
                                                                {% if s.status == 'Request Processing' %}
                                                                    <p class="inprogress">{{s.status|title}}</p>
                                                                {% endif %}  
                                                            </td>
                                                            <td>
                                                                <p>-${{s.amount|intcomma}}</p>
                                                            </td>
                                                            <td>
                                                                <a href="{% url "main_app:transaction-detail" s.transaction_id %}" class="btn btn-primary">VIEW</i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name / Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for r in recipient_transaction %}
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>{{r.sender.kyc.full_name|title}}</p>
                                                            <p class="mdr">{{r.transaction_type|title}}</p>
                                                        </th>
                                                        <td>
                                                            <p><small>{{r.date|date:"h:i"}}</small></p>
                                                            <p class="mdr">{{r.date|date:"d M, Y"}}</p>
                                                        </td>
                                                        <td>
                                                            {% if r.status == 'Completed' %}
                                                                <p class="text-success">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Pending' %}
                                                                <p class="inprogress">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Failed' %}
                                                                <p class="text-danger">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Processing' %}
                                                                <p class="inprogress">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Request Sent' %}
                                                            <p class="text-success">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Request Settled' %}
                                                                <p class="text-success">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Request Processing' %}
                                                                <p class="inprogress">{{r.status|title}}</p>
                                                            {% endif %}                                                            
                                                        </td>
                                                        <td>
                                                            <p>+${{r.amount|intcomma}}</p>
                                                        </td>
                                                        <td>
                                                            <a href="{% url "main_app:transaction-detail" r.transaction_id %}" class="btn btn-primary">VIEW</i></a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="sender-request" role="tabpanel" aria-labelledby="sender-request-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name / Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for r in request_sender_transaction %}
                                                    <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                        <th scope="row">
                                                            <p>{{r.recipient.kyc.full_name|title}}</p>
                                                            <p class="mdr">{{r.transaction_type|title}}</p>
                                                        </th>
                                                        <td>
                                                            <p><small>{{r.date|date:"h:i"}}</small></p>
                                                            <p class="mdr">{{r.date|date:"d M, Y"}}</p>
                                                        </td>
                                                        <td>
                                                            {% if r.status == 'Completed' %}
                                                                <p class="text-success">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Pending' %}
                                                                <p class="inprogress">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Failed' %}
                                                                <p class="text-danger">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Processing' %}
                                                                <p class="inprogress">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Request Sent' %}
                                                            <p class="text-success">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Request Settled' %}
                                                                <p class="text-success">{{r.status|title}}</p>
                                                            {% endif %}
                                                            {% if r.status == 'Request Processing' %}
                                                                <p class="inprogress">{{r.status|title}}</p>
                                                            {% endif %}                                                            
                                                        </td>
                                                        <td>
                                                            <p>+${{r.amount|intcomma}}</p>
                                                        </td>
                                                        <td>
                                                            {% if r.status == "Request Sent" or r.status == "Request Processing" %}
                                                                <a href="{% url "main_app:transaction-detail" r.transaction_id %}" class="btn btn-primary">REVIEW</i></a>
                                                                <a href="{% url "main_app:delete-request" r.sender.account.account_number r.transaction_id %}" class="btn btn-danger">DELETE</i></a>
                                                            {% endif %}

                                                            {% if r.status == "Request Settled" %}
                                                                <a class="btn btn-success">APPROVED</i></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="recipient-request" role="tabpanel" aria-labelledby="recipient-request-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name / Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for r in request_recipient_transaction %}
                                                        <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                            <th scope="row">
                                                                <p>{{r.sender.kyc.full_name|title}}</p>
                                                                <p class="mdr">{{r.transaction_type|title}}</p>
                                                            </th>
                                                            <td>
                                                                <p><small>{{r.date|date:"h:i"}}</small></p>
                                                                <p class="mdr">{{r.date|date:"d M, Y"}}</p>
                                                            </td>
                                                            <td>
                                                                {% if r.status == 'Completed' %}
                                                                    <p class="text-success">{{r.status|title}}</p>
                                                                {% endif %}
                                                                {% if r.status == 'Pending' %}
                                                                    <p class="inprogress">{{r.status|title}}</p>
                                                                {% endif %}
                                                                {% if r.status == 'Failed' %}
                                                                    <p class="text-danger">{{r.status|title}}</p>
                                                                {% endif %}
                                                                {% if r.status == 'Processing' %}
                                                                    <p class="inprogress">{{r.status|title}}</p>
                                                                {% endif %}
                                                                {% if r.status == 'Request Sent' %}
                                                                <p class="text-success">{{r.status|title}}</p>
                                                                {% endif %}
                                                                {% if r.status == 'Request Settled' %}
                                                                    <p class="text-success">{{r.status|title}}</p>
                                                                {% endif %}
                                                                {% if r.status == 'Request Processing' %}
                                                                    <p class="inprogress">{{r.status|title}}</p>
                                                                {% endif %}                                                            
                                                            </td>
                                                            <td>
                                                                <p>+${{r.amount|intcomma}}</p>
                                                            </td>
                                                            <td>
                                                                {% if r.status == "Request Sent" %}
                                                                    <a href="{% url "main_app:settlement-confirmation" r.sender.account.account_number r.transaction_id %}" class="btn btn-primary">REVIEW</i></a>
                                                                    <a href="{% url "main_app:transaction-detail" r.transaction_id %}" class="btn btn-danger">DECLINE</i></a>
                                                                {% endif %}

                                                                {% if r.status == "Request Settled" %}
                                                                    <a class="btn btn-success">APPROVED</i></a>
                                                                {% endif %}

                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="deposit-request" role="tabpanel" aria-labelledby="deposit-tab">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name / Business</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for d in deposit_transaction %}
                                                        <tr data-bs-toggle="modal" data-bs-target="#transactionsMod">
                                                            <th scope="row">
                                                                <p>{{d.sender.kyc.full_name|title}}</p>
                                                                <p class="mdr">{{d.transaction_type|title}}</p>
                                                            </th>
                                                            <td>
                                                                <p><small>{{d.date|date:"h:i"}}</small></p>
                                                                <p class="mdr">{{d.date|date:"d M, Y"}}</p>
                                                            </td>
                                                            <td>
                                                                {% if d.status == 'Completed' %}
                                                                    <p class="text-success">{{d.status|title}}</p>
                                                                {% endif %}
                                                                {% if d.status == 'Pending' %}
                                                                    <p class="inprogress">{{d.status|title}}</p>
                                                                {% endif %}
                                                                {% if d.status == 'Failed' %}
                                                                    <p class="text-danger">{{d.status|title}}</p>
                                                                {% endif %}
                                                                {% if d.status == 'Processing' %}
                                                                    <p class="inprogress">{{d.status|title}}</p>
                                                                {% endif %}                                                         
                                                            </td>
                                                            <td>
                                                                <p>+${{d.amount|intcomma}}</p>
                                                            </td>
                                                            <td>
                                                                <a href="{% url "main_app:transaction-detail" d.transaction_id %}" class="btn btn-primary">VIEW</i></a>
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}